{{!-- is there a way to transfer the navbar to this page without coping the code --}}
{{! navbar  }}
<section  class="has-background-warning-light">

<nav class="navbar has-background-warning-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    {{! change href to dashboard landing page }}
    <a class="navbar-item" href="https://localhost3000/dashboard">

      <span class="icon-text is medium">
        <span class="icon has-text-info">
          <i class="fas fa-plane-departure"></i>
        </span>
        <span class="has-text-info">Destination Journey</span>
      </span>

    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end ">
      <a class="navbar-item has-text-info">
        Home
      </a>

      <a class="navbar-item has-text-info">
        Bookings
      </a>

      <a class="navbar-item has-text-info">
        Contact
      </a>
    </div>
  </div>
</nav>














{{!-- footer --}}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Destination Journey</strong> by <a href="https://github.com/Devinthedeveloper614">Devin</a> and <a href="https://github.com/Innovative-J">Juan</a>.
      The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>