{{!-- is there a way to transfer the navbar to this page without coping the code --}}
{{! navbar  }}
<section  class="has-background-warning-light">

{{>navbar}}


{{!-- create a modal or section for live api searches --}}
<div>
  {{!-- search section here --}}
  {{!-- follow wireframe --}}
</div>

{{!-- footer --}}
{{>footer}}