{{> navbar}}
<section  class="has-background-warning-light">


<div>
<div class="img-container">  
<figure class="img">
  <img src="/images/world-image.jpg" />
</figure>

<div class="img-context">
    <div class="content has-text-black">
      <h3 class="has-text-black" >Destination & Journey</h3>
      <p >
        Destination & Journey is a user-friendly travel planner web app designed to simplify bookings flights and pricing. In order to prepare you for your Destination we want you to make it a Journey as you travel. Our website comes equipped with user-friendly tools such as an Itinerary, Checklist and a live map view of the location you booked. Here are some worthy features. </p>
        <h3 class="has-text-black">Key Features</h3>
        <p><ul>
        1. User Dashboard
        </ul>
        <ul>
        2. User Authentication
        </ul>
        <ul> 
        3. Flight Booking
        </ul>
        <ul>
        4. Pricing Information
        </ul>
        </p>
    </div>
  </div>
</div>
</div>



{{!-- contact form --}}
 <section class="section">
        <div class="container">
            <div class="form-container">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-info">From</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="text" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded has-icons-left">
                                <input class="input " type="email" placeholder="Email" value="John@example.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-info">Subject</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Topic">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-info">Question</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal field-end">
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-centered">
                                <button class="button  ">
                                    Send message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> footer}}