<div class="fixed-grid has-12-cols">
  <div class="grid" >
    <div class="cell is-col-span-8 "style="border-color: red; border-style: solid;">Cell 1</div>
    <div class="cell is-col-span-4 "style="border-color: red; border-style: solid;">Cell 2</div>
  </div>
</div>

<div>
    
</div>


{{!-- 1. finish homepage.handle with bulma 2 collums 
1.5 login page
2. finish the rest following the sticky notes and trello 
3. update slack and ask devin to start the api for rapid, follow the steps on trello
4. test each section and page.
5. important utils and finish the assets folder. --}}



{{!-- control c to quit terminal input --}}

{{!-- login page 
form done 
css, everything is gird base 12 column style 
then work on it with activity sessions for the user login and auth 
then add folders to get and idea of the structure.  --}}